* {
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
    scroll-margin-top: 80px;
}

:root {
    --text-color: white;
    --secund-text-color: #CDCDCD;
    --bg-color: rgba(24, 24, 28, 1);
    --container-color: rgba(0, 0, 0, 1);
    --button-color: rgba(247, 255, 25, 1);
    --button-color-hover: rgb(217, 223, 53);
    --secund-button-color: rgba(64, 64, 68, 1);
    --secund-button-color-2: rgba(64, 64, 68, 0.70);
    --color-medium-70: rgba(255, 255, 255, 0.70);
}

body {
    background-color: var(--bg-color);
    overflow-x: hidden;
}

body * {
    font-family: "Inter", sans-serif;
    color: var( --text-color);
}

header {
    background-color: var(--container-color);
    height: auto;
    top: 0;
    width: 100%;
    position: fixed;
    z-index:2;
}

/* navbar */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 104px 20px 104px;
    right: 0;
    justify-content: space-between;
    transition: all 0.5s;
}


#bloco__nav {
    display: flex;
    align-items: center;
    justify-items: center;
}

#menu,
#lista
  {
    display: inline;
}

#logo__menu {
    display: inline-flex;
}

#logo__cont {
    display: flex;
    align-items: center;
    margin-right: 64px;
}

#item__logo {
    height: 26px;
    transition: all 1s;
}

.btn__menu {
    display: none;
    transition: all 1s;
    border: none;
}

#btn__humb {
    height: none;
    width: none;
    transition: all 1s;
}

/* navbar-menu */

.item__menu {
    display: inline;
}

.menu__txt {
    border-radius: 8px;
    height: 36px;
    padding: 8px 16px;
    transition: 0.5s;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    text-decoration: none !important;
}

.menu__txt:hover {
    border-radius: 8px;
    height: 36px;
    padding: 8px 16px;
    border-radius: 8px;
    align-items: center;
    color: var(--text-color);
    background-color: var(--secund-button-color);
}

/* navbar-btn */

#btn__nav {
    display: inline-flex;
}

.btn__txt {
    height: 36px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    color: var(--container-color);
    text-decoration: none;
    background-color: var(--text-color);
    transition: 0.3s;
    outline: 1px solid var(--text-color);
    outline-offset: -1px;
    text-decoration: none;
}

.btn__txt:hover {
    height: 36px;
    border-radius: 8px;
    background-color: var(--secund-text-color);
    color: var(--container-color);
    outline: 4px solid var(--text-color);
    outline-offset: -4px;
    text-decoration: none;
}

/* menu__mb */

#menu__mb {
    display: none;
    transition: all 1s;
}

/* video */

#grad {
    position: absolute;
    width: 100vw;
    height: 712px;
    transition: all 1ms;
    background: linear-gradient(90deg, rgba(24, 24, 28, 0.90) 20%, rgba(24, 24, 28, 0.00) 80%);
}

#video__cta {
    z-index:0;
    position: absolute;
    width: 100vw;
    height: 712px;
    overflow: hidden;
    top: 0;
    transition: all 1ms;
}

#video {
    width: 100vw;
    transition: all 1ms;
   
}

/* conteudo  */

#conteudo {
    margin: 0px 104px 0px 104px;
    position: relative;
    transition: all 1s;
    scroll-behavior: smooth;
}


#cta {
    display: inline-block;
    margin-top: 226px;
    transition: all 1s;
}


.tlt__cta {
    width: 511px;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    padding-bottom: 48px;
    transition: all 1s;
}


#btn__cta {
    border-radius: 8px;
    background-color: var(--button-color);
    display: inline-flex;
    text-decoration: none;
    border: none;
    transition: 0.3s;
    outline: 1px solid var(--button-color);
    outline-offset: -1px;
}

#btn__cta:hover {
    border-radius: 8px;
    background-color: var(--button-color-hover);
    outline: 4px solid var(--text-color);
    outline-offset: -4px;
}

#btn__cta-txt {
    padding: 8px 16px;
    color: var(--container-color);
    text-decoration: none;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
}


.cont__desc {
    margin-top: 122px;
    padding: 32px;
    border-radius: 8px;
    
    background: var(--container-color);
}


.tlt__h2 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 16px;
}

#txt__desc {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;

}

/* modos */

#modos {
    margin-top: 64px;
}

#blocos {
    position: relative;
}

.btn__link {
    display: flex;
    align-items: center;
}

.btn__modos {
    padding: 16px;
}

#btn__left {
    display: none;
    position: absolute;
    left: -28px;
}

#btn__right {
    position: absolute;
    right: -28px;
}

.btn__stl {
    background-color: var(--secund-button-color-2);
    top: 136px;
    border-radius: 90px;
    border: none;
    transition: 0.3s;
    outline: 0px solid var(--secund-button-color-2);
    outline-offset: 0px;
}

.btn__stl:hover {
    background-color: var(--secund-button-color);
    outline: 4px solid var(--color-medium-70);
    outline-offset: -4px;
}

.btn__stl:active {
    background-color: var(--color-medium-70);
}

#modos__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#modos__list::-webkit-scrollbar {
    display: none;
}

.link__modos {
    text-decoration: none;
}

.tlt__h3 {
    padding-left: 32px;
    text-decoration: none;
    padding-top: 283px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}


#card__br-zb {
    background-image: url(../../assets/thumbnail-battle-royale-zero.png);
}

#card__ff {
    background-image: url(../../assets/thumbnail-fortnite-festival.png);
}

#card__lf {
    background-image: url(../../assets/thumbnail-lego-fortnite.png); 
}

#card__rr {
    background-image: url(../../assets/thumbnail-rocket-racing.png);
}

.cards__cont {
    background-size: 376px 328px;
    width: 376px;
    height: 328px;  
    border-radius: 8px;
    margin-right: 16px;
    margin-bottom: 16px;
    transition: 0.8s;
}

.cards__cont:hover {
    background-size: 404px 352px;
    border-radius: 8px;
    outline: 4px solid var(--color-medium-70);
    outline-offset: -4px;
}

/* requisitos  */

#requisitos {
    margin-top: 64px;
    padding: 32px;
    border-radius: 8px;
    background: var(--container-color);
}


#re__list {
    list-style: none;
}

.tlt__re-tbl {
    width: 50%;
    text-align: start;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 32px;
    color: var(--text-color);
}

.txt__re-tbl-1 {
    font-style: normal;
    font-weight: 400;
    color: var(--secund-text-color);
    padding-bottom: 8px;
}

.txt__re-tbl-2 {
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    padding-bottom: 32px;
}

.txt__re-1 {
    display: block;
    font-style: normal;
    font-weight: 400;
    color: var(--secund-text-color);
    padding-bottom: 8px;
}

.txt__re-2 {
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
}

.line-2 {
    padding-bottom: 32px;
}

#table  {
    width: 100%;
    margin-top: 16px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
    grid-template-areas: "colum__1 colum__2" "line__re line__re";
    list-style: none;
}


#colum__1 {
    grid-area: colum__1;

}

#colum__2 {
    grid-area: colum__2;

}

#line__re {
    grid-area: line__re;

}

/* footer */

footer {
    padding: 48px 104px 96px 104px;
    background-color: var(--container-color);
    display: flex;
    top: 0;
    margin-top: 64px;
}


#conteudo__bot {
    display: block;
    align-items: center;
    right: 0;
}
.social__media {
    align-items: center;
    display: inline-flex;
    list-style: none;
    gap: 16px;
    margin-bottom: 32px;
}

#txt__bot {
    margin-bottom: 32px;
}

#line__bot {
    margin-bottom: 32px;
    width: 100%;
    height: 1px;    
    background-color: var(--secund-button-color);
}


/* media query */

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 16px 16px 16px 16px;
        right: 0;
        justify-content: space-between;
    }

    /* menu_mb */
    
    #lista__mb {
        margin: 116px 16px 0px 16px;
    }

    /* video__cta */

    #video__cta {
        width: 100vw;
        position: absolute;
        height: 688px;
        overflow: hidden;
        top: 0;
        align-items: end;
    }

    #grad {
        background: linear-gradient(90deg, rgba(24, 24, 28, 0.70) 50%, rgba(24, 24, 28, 0.00) 100%);
    }

    #video {
        width: auto;
        height: 688px;
    }

    /* conteudo */

    #conteudo {
        margin: 0px 16px 0px 16px;
        position: relative;
    }

    #cta {
        display: inline-block;
        margin-top: 212px;
    }

    .cont__desc {
        margin-top: 122px;
        padding: 16px;
    }

    /* modos */

    #modos__list {
        height: 208px;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .cards__cont {
        background-size: 240px 208px;
        width: 240px;
        height: 208px;  
        border-radius: 8px;
        margin-right: 16px;
        margin-bottom: 16px;
        transition: 0.8s;
    }
    
    .cards__cont:hover {
        background-size: 254px 220px;
        border-radius: 8px;
        outline: 4px solid var(--color-medium-70);
        outline-offset: -4px;
    }
     
    .tlt__h3 {
        padding-left: 16px;
        text-decoration: none;
        padding-top: 179px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
    }

    #btn__left {
        display: none !important;
    }
    
    #btn__right {
        display: none !important;
    }
    
    /* requesitos */

    #requisitos {
        padding: 16px;
    }
    
    #table  {
        gap: 32px;
        grid-template-columns: 50%;
        grid-template-rows: auto auto;
        grid-template-areas: "colum__1 colum__1" "colum__2 colum__2" "line__re line__re";
    }

    /* footer */

    @media only screen and (max-width: 768px) {
        footer {
            padding: 48px 16px 96px 16px;
           
        }
        
    }
}

@media only screen and (max-width: 940px) {
    #item__logo {
        margin-left: 8px;
        height: 26px;
    }

    .btn__menu {
        height: 36px;
        width: 36px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: var(--container-color);
        justify-content: center;
        transition: all 1ms;
        
    }
    
    #btn__humb {
        height: 24px;
        width: 24px;
    }

    .btn__menu:active {
        height: 36px;
        width: 36px;
        margin-right: 8px;
        display: flex;
        align-items: center;
        border-radius: 8px;
        background-color: var(--secund-button-color);
        justify-content: center;
    }

    /* navbar-menu */

    .item__menu {
        display: none;
    }
    
    .menu__txt {
        display: none;
    }

    /* menu_mb */

    #menu__mb {
        display: none;
        height: 336px;
        width: 100vw;
        position: fixed;
        background-color: var(--container-color);
        z-index:1;
        border-radius: 8px;
    }
    
    #lista__mb {
        display: flex;
        flex-direction: column;
        margin: 116px 104px 0px 104px;
        transition: all 1s;
    }
    
    .item__menu__mb {
        display: flex;
        margin-bottom: 16px;
        align-self: center;
        list-style: none;
        width: 100%;
    }
    
    .menu__txt__mb {
        width: 100%;
        padding: 14px 0px 14px 0px;
        text-align: center;
        border-radius: 8px;
        transition: 0.5s;
        text-decoration: none;
        color: var(--text-color);
        outline: 4px solid var(--bg-color);
        outline-offset: -4px;
    }
    
    .menu__txt__mb:active {
        color: var(--text-color);
        background-color: var(--secund-button-color);
    }
    
    #bg__mb {
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@media only screen and (max-width: 1672px) {
    #video {
        width: auto;
        height: 712px;
    }
}

@media only screen and (max-width: 559px) {
    .tlt__cta {
        width: 272px;
        display: flex;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        padding-bottom: 48px;
    }
    
}

@media only screen and (min-width: 1759px) {
    #btn__left {
        display: none !important;
    }
    
    #btn__right {
        display: none !important;
    }

}